/* src/renderer/common/common.css */

.pdf-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pdf-list li {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0.3rem 0;
    background: #eee;
    border-radius: 6px;
    cursor: grab;
    gap: 0.8rem;
}

.pdf-thumbnail {
    width: 90px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex-shrink: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.pdf-info {
    flex-grow: 1;
}

.pdf-name {
    font-size: 0.9rem;
    font-weight: 500;
}

.pdf-size {
    font-size: 0.75rem;
    color: #666;
}

.remove-btn {
    padding: 20px;
    margin-left: auto;
    cursor: pointer;
    font-size: 1.7rem;
    border: .2rem solid deepskyblue;
    transition: 0.2s;
}

.remove-btn:hover{
    background-color: #245a8d;
    cursor: pointer;
    color: white;
}

/* Button variants */
.primary-btn {
    background: #245a8d;
    color: #fff;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
}

.primary-btn:hover {
    background: #377fb9;
}

.secondary-btn {
    background: #aaa;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.secondary-btn:hover {
    background: #888;
}