/* src/renderer/styles/main.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #ecf0f1;
    background: #1e2a38;
    overflow: hidden;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #18222e;
    border-bottom: 1px solid #111820;
}

.top-btn {
    background: #2c3e50;
    color: #ecf0f1;
    border: none;
    font-weight: 600;
    font-size: 14px;
    transition: background 0.3s ease, color 0.3s ease;
    padding: 10px 18px;
    cursor: pointer;
    margin-right: 8px;
    border-radius: 6px;
    outline: none;
}

.top-btn:hover {
    background: #3498db;
    color: #fff;
}

.top-btn:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

/* Tools Dropdown */
.tools-dropdown {
    position: relative;
    display: inline-block;
}

.tools-menu {
    display: none;
    position: absolute;
    background-color: #2c3e50;
    min-width: 480px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
    border-radius: 6px;
    padding: 10px;
}

#tools-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.tools-menu a {
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.tools-menu a:hover {
    background-color: #3498db;
}

.tools-dropdown:hover .tools-menu {
    display: block;
}


/* Main Content Area */
#main-content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

/* Tab Bar (Vertical) */
#tab-bar {
    display: flex;
    flex-direction: column;
    background: #18222e;
    border-right: 1px solid #111820;
    overflow-y: auto;
    padding-top: 5px;
}

.resizer {
    width: 5px;
    cursor: col-resize;
    background: #111820;
    transition: background 0.3s ease;
}

.resizer:hover {
    background: #3498db;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    cursor: pointer;
    position: relative;
    user-select: none;
    border-left: 4px solid transparent;
    color: #bdc3c7;
    transition: background 0.2s ease, color 0.2s ease, border-left-color 0.3s ease;
    overflow: hidden;
}

.tab-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab:hover {
    background: #2c3e50;
    color: #ecf0f1;
}

.tab.active {
    background: #2c3e50;
    color: #fff;
    font-weight: 600;
    border-left: 4px solid #3498db;
}

.tab-close {
    margin-left: auto;
    padding-left: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #7f8c8d;
    transition: color 0.2s ease, transform 0.1s ease;
    font-size: 18px;
    transform: scale(1.5);
}

.tab-close:hover {
    color: #e74c3c;
    transform: scale(1.8);
}


/* Tab Content */
#tab-content {
    flex: 1;
    overflow: auto;
    position: relative;
    background: #1e2a38;
}

.tab-content {
    display: none;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.tab-content.active {
    display: block;
}

.tab.drag-over {
    background-color: #2c3e50;
    border-left-color: #3498db;
}
